n8n-workflows/kyberassist-landing-workflow.json
{
  "name": "KyberAssist Landing Page",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "landing-kyberassist",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "landing-kyberassist"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Code Node 1: Input-Validierung & Sanitisierung\n// ============================================================\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst session_id = body.session_id || '';\nconst raw_message = body.message || '';\n\n// --- 1. session_id validieren (UUID v4 Format, nur Logging) ---\nconst UUID_REGEX = /^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;\nif (!UUID_REGEX.test(session_id)) {\n  return [\n    {\n      json: {\n        valid: false,\n        error: 'Ungültige Session-ID.',\n        session_id: 'invalid'\n      }\n    }\n  ];\n}\n\n// --- 2. Nachricht prüfen: leer? ---\nif (!raw_message || raw_message.trim().length === 0) {\n  return [\n    {\n      json: {\n        valid: false,\n        error: 'Nachricht darf nicht leer sein.',\n        session_id\n      }\n    }\n  ];\n}\n\n// --- 3. Länge prüfen: max 500 Zeichen ---\nif (raw_message.length > 500) {\n  return [\n    {\n      json: {\n        valid: false,\n        error: 'Nachricht zu lang (max. 500 Zeichen).',\n        session_id\n      }\n    }\n  ];\n}\n\n// --- 4. HTML-Tags entfernen (Strip) ---\nlet sanitized = raw_message.replace(/<[^>]*>/g, '');\n\n// --- 5. SQL-Injection Muster entfernen (Basisschutz) ---\nsanitized = sanitized.replace(/(['\"\\\\;]|--|\\/\\*|\\*\\/|\\bDROP\\b|\\bSELECT\\b|\\bINSERT\\b|\\bDELETE\\b|\\bUPDATE\\b|\\bEXEC\\b|\\bUNION\\b)/gi, '');\n\n// --- 6. Steuerzeichen entfernen ---\nsanitized = sanitized.replace(/[\\x00-\\x1F\\x7F]/g, ' ').trim();\n\n// --- 7. Ergebnis ---\nreturn [\n  {\n    json: {\n      valid: true,\n      message: sanitized,\n      session_id,\n      timestamp: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Validierung",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Eingabe gültig?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ message: $json.error || 'Ungültige Eingabe. Bitte versuchen Sie es erneut.', category: 'ERROR', cta: { text: 'Kostenlos testen', url: 'https://kyberguard.de/register' } }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Fehler-Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 480]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Code Node 2: Gesprächspfad-Klassifikation (6 Kategorien)\n// ============================================================\n\nconst message = ($json.message || '').toLowerCase();\n\n// Keyword-Sets je Kategorie\nconst patterns = {\n  NIS2_QUESTION: [\n    'nis2', 'nis 2', 'netzwerk- und informationssicherheit', 'kritische infrastruktur',\n    'kritis', 'richtlinie', 'betrifft mich', 'muss ich', 'bin ich betroffen',\n    'compliance', 'pflicht', 'bsig', '§38', 'informationssicherheit'\n  ],\n  COST_QUESTION: [\n    'kostet', 'kosten', 'schaden', 'schäden', 'finanziell', 'verlust', 'verluste',\n    'bußgeld', 'strafe', 'teuer', 'preis', 'ausgaben', 'budget', 'wie viel',\n    'wieviel', 'million', 'euro', 'angriff kostet', 'cyberangriff kosten'\n  ],\n  PHISHING_QUESTION: [\n    'phishing', 'verdächtig', 'verdächtige', 'e-mail', 'email', 'spam', 'betrug',\n    'link', 'anhang', 'attachment', 'absender', 'fake', 'gefälscht', 'klicken',\n    'klick', 'passwort eingeben', 'bankdaten', 'dringend', 'sofortiger handlungsbedarf',\n    'soll ich öffnen', 'ist das sicher', 'smishing', 'vishing'\n  ],\n  SECURITY_CHECK: [\n    'wie sicher', 'sicherheit prüfen', 'security check', 'meinen server', 'meine website',\n    'meine domain', 'ssl', 'tls', 'zertifikat', 'dmarc', 'spf', 'dkim', 'patch',\n    'patches', 'backup', 'sicherheitscheck', 'schwachstellen', 'scan', 'prüfen',\n    'sicher bin', 'wie gut', 'sicherheitsniveau'\n  ],\n  PRODUCT_INFO: [\n    'kyberguard', 'was ist kyber', 'euer produkt', 'ihr produkt', 'wie funktioniert',\n    'features', 'funktionen', 'preise', 'abo', 'abonnement', 'pro plan', 'business plan',\n    'enterprise', 'demo', 'testen', 'trial', '34,99', '99,99', 'registrieren',\n    'anmelden', 'kostenlos testen'\n  ]\n};\n\n// Scoring-Funktion\nfunction classify(msg, patternMap) {\n  const scores = {};\n  for (const [category, keywords] of Object.entries(patternMap)) {\n    scores[category] = keywords.filter(kw => msg.includes(kw)).length;\n  }\n  // Beste Kategorie\n  const best = Object.entries(scores).sort((a, b) => b[1] - a[1])[0];\n  return best[1] > 0 ? best[0] : 'OTHER';\n}\n\nconst category = classify(message, patterns);\n\nreturn [\n  {\n    json: {\n      ...$json,\n      category\n    }\n  }\n];"
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Kategorie erkennen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "NIS2_QUESTION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NIS2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "COST_QUESTION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COST"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "PHISHING_QUESTION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PHISHING"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "SECURITY_CHECK",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SECURITY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "PRODUCT_INFO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PRODUCT"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Switch: Kategorie",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "x-api-key",
              "value": "={{ $credentials.value }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 300, system: 'Du bist KyberAssist, ein freundlicher KI-Sicherheitsberater auf der KyberGuard-Website. Beantworte NIS2-Fragen kurz und verständlich für KMU-Geschäftsführer ohne IT-Hintergrund. Max 3 Sätze. Empfehle am Ende: \\'Mit dem KyberGuard NIS2-Dashboard prüfen Sie Ihre Compliance in 5 Minuten.\\' Nie: Rechtsberatung anbieten. Antworte immer auf Deutsch.', messages: [{ role: 'user', content: $json.message }] }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Anthropic: NIS2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-api-cred",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "x-api-key",
              "value": "={{ $credentials.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 300, system: 'Du bist KyberAssist. Erkläre die finanziellen Folgen von Cyberangriffen für KMU in Deutschland (Quelle: BSI-Lagebericht). Konkrete Zahlen: durchschnittlicher Schaden 4,9 Mio€ pro Vorfall laut BSI 2024. Max 3 Sätze plus eine Handlungsempfehlung mit KyberGuard. Antworte immer auf Deutsch.', messages: [{ role: 'user', content: $json.message }] }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Anthropic: Kosten",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 220],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-api-cred",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "x-api-key",
              "value": "={{ $credentials.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 300, system: 'Du bist KyberAssist. Hilf dem Nutzer sofort mit praktischen Tipps zu verdächtigen E-Mails. Max 4 kurze Punkte. Am Ende: \\'KyberAssist im Dashboard analysiert verdächtige Links für Sie in Echtzeit.\\' Antworte immer auf Deutsch.', messages: [{ role: 'user', content: $json.message }] }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Anthropic: Phishing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 340],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-api-cred",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "x-api-key",
              "value": "={{ $credentials.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 300, system: 'Du bist KyberAssist. Erkläre kurz was eine gute Security-Posture ausmacht (SSL, DMARC, Patches, Backups). Max 3 Sätze. Dann: \\'Möchten Sie Ihre Domain jetzt kostenlos prüfen? Geben Sie sie oben ein.\\' Antworte immer auf Deutsch.', messages: [{ role: 'user', content: $json.message }] }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Anthropic: Security",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 460],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-api-cred",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "x-api-key",
              "value": "={{ $credentials.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 300, system: 'Du bist KyberAssist. Erkläre KyberGuard in 2-3 Sätzen: NIS2-Compliance-Tool für deutsche KMU, automatisches Monitoring, KI-gestützt, ab 34,99€/Monat, DSGVO-konform auf deutschen Servern. Keine technischen Details. Antworte immer auf Deutsch.', messages: [{ role: 'user', content: $json.message }] }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Anthropic: Produkt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 580],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-api-cred",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "x-api-key",
              "value": "={{ $credentials.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 300, system: 'Du bist KyberAssist auf der KyberGuard-Website. Antworte freundlich auf die Frage, bleibe dabei im Thema Cybersicherheit und KyberGuard. Max 2 Sätze. Leite dann zu einem der 5 Hauptthemen: NIS2-Compliance, Angriffskosten, Phishing-Schutz, Sicherheitsprüfung oder KyberGuard-Features. Antworte immer auf Deutsch.', messages: [{ role: 'user', content: $json.message }] }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "Anthropic: Other",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-api-cred",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Code Node 3: Anthropic-Antwort extrahieren + Response bauen\n// ============================================================\n\nconst inputData = $input.first().json;\n\n// Anthropic gibt content[0].text zurück\nlet aiText = '';\ntry {\n  aiText = inputData.content[0].text || '';\n} catch (e) {\n  aiText = 'Entschuldigung, ich konnte Ihre Anfrage gerade nicht verarbeiten. Bitte versuchen Sie es erneut.';\n}\n\n// Kategorie aus vorherigem Knoten holen\n// (wird via $('Kategorie erkennen').first().json weitergegeben)\nconst category = $('Kategorie erkennen').first().json.category || 'OTHER';\n\nreturn [\n  {\n    json: {\n      message: aiText.trim(),\n      category: category,\n      cta: {\n        text: 'Kostenlos testen',\n        url: 'https://kyberguard.de/register'\n      }\n    }\n  }\n];"
      },
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "Response aufbauen: NIS2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 100]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nlet aiText = '';\ntry { aiText = inputData.content[0].text || ''; } catch (e) { aiText = 'Entschuldigung, ich konnte Ihre Anfrage gerade nicht verarbeiten. Bitte versuchen Sie es erneut.'; }\nconst category = $('Kategorie erkennen').first().json.category || 'OTHER';\nreturn [{ json: { message: aiText.trim(), category, cta: { text: 'Kostenlos testen', url: 'https://kyberguard.de/register' } } }];"
      },
      "id": "a1b2c3d4-0014-0014-0014-000000000014",
      "name": "Response aufbauen: Kosten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 220]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nlet aiText = '';\ntry { aiText = inputData.content[0].text || ''; } catch (e) { aiText = 'Entschuldigung, ich konnte Ihre Anfrage gerade nicht verarbeiten. Bitte versuchen Sie es erneut.'; }\nconst category = $('Kategorie erkennen').first().json.category || 'OTHER';\nreturn [{ json: { message: aiText.trim(), category, cta: { text: 'Kostenlos testen', url: 'https://kyberguard.de/register' } } }];"
      },
      "id": "a1b2c3d4-0015-0015-0015-000000000015",
      "name": "Response aufbauen: Phishing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 340]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nlet aiText = '';\ntry { aiText = inputData.content[0].text || ''; } catch (e) { aiText = 'Entschuldigung, ich konnte Ihre Anfrage gerade nicht verarbeiten. Bitte versuchen Sie es erneut.'; }\nconst category = $('Kategorie erkennen').first().json.category || 'OTHER';\nreturn [{ json: { message: aiText.trim(), category, cta: { text: 'Kostenlos testen', url: 'https://kyberguard.de/register' } } }];"
      },
      "id": "a1b2c3d4-0016-0016-0016-000000000016",
      "name": "Response aufbauen: Security",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 460]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nlet aiText = '';\ntry { aiText = inputData.content[0].text || ''; } catch (e) { aiText = 'Entschuldigung, ich konnte Ihre Anfrage gerade nicht verarbeiten. Bitte versuchen Sie es erneut.'; }\nconst category = $('Kategorie erkennen').first().json.category || 'OTHER';\nreturn [{ json: { message: aiText.trim(), category, cta: { text: 'Kostenlos testen', url: 'https://kyberguard.de/register' } } }];"
      },
      "id": "a1b2c3d4-0017-0017-0017-000000000017",
      "name": "Response aufbauen: Produkt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 580]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nlet aiText = '';\ntry { aiText = inputData.content[0].text || ''; } catch (e) { aiText = 'Entschuldigung, ich konnte Ihre Anfrage gerade nicht verarbeiten. Bitte versuchen Sie es erneut.'; }\nconst category = $('Kategorie erkennen').first().json.category || 'OTHER';\nreturn [{ json: { message: aiText.trim(), category, cta: { text: 'Kostenlos testen', url: 'https://kyberguard.de/register' } } }];"
      },
      "id": "a1b2c3d4-0018-0018-0018-000000000018",
      "name": "Response aufbauen: Other",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://kyberguard.de"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-0019-0019-0019-000000000019",
      "name": "Respond NIS2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1760, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://kyberguard.de"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-0020-0020-0020-000000000020",
      "name": "Respond Kosten",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1760, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://kyberguard.de"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-0021-0021-0021-000000000021",
      "name": "Respond Phishing",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1760, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://kyberguard.de"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-0022-0022-0022-000000000022",
      "name": "Respond Security",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1760, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://kyberguard.de"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-0023-0023-0023-000000000023",
      "name": "Respond Produkt",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1760, 580]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://kyberguard.de"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-0024-0024-0024-000000000024",
      "name": "Respond Other",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1760, 700]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validierung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validierung": {
      "main": [
        [
          {
            "node": "Eingabe gültig?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eingabe gültig?": {
      "main": [
        [
          {
            "node": "Kategorie erkennen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fehler-Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kategorie erkennen": {
      "main": [
        [
          {
            "node": "Switch: Kategorie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Kategorie": {
      "main": [
        [
          {
            "node": "Anthropic: NIS2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Anthropic: Kosten",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Anthropic: Phishing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Anthropic: Security",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Anthropic: Produkt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Anthropic: Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic: NIS2": {
      "main": [
        [
          {
            "node": "Response aufbauen: NIS2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic: Kosten": {
      "main": [
        [
          {
            "node": "Response aufbauen: Kosten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic: Phishing": {
      "main": [
        [
          {
            "node": "Response aufbauen: Phishing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic: Security": {
      "main": [
        [
          {
            "node": "Response aufbauen: Security",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic: Produkt": {
      "main": [
        [
          {
            "node": "Response aufbauen: Produkt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic: Other": {
      "main": [
        [
          {
            "node": "Response aufbauen: Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response aufbauen: NIS2": {
      "main": [
        [
          {
            "node": "Respond NIS2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response aufbauen: Kosten": {
      "main": [
        [
          {
            "node": "Respond Kosten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response aufbauen: Phishing": {
      "main": [
        [
          {
            "node": "Respond Phishing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response aufbauen: Security": {
      "main": [
        [
          {
            "node": "Respond Security",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response aufbauen: Produkt": {
      "main": [
        [
          {
            "node": "Respond Produkt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response aufbauen: Other": {
      "main": [
        [
          {
            "node": "Respond Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-04-18T00:00:00.000Z",
      "updatedAt": "2026-04-18T00:00:00.000Z",
      "id": "tag-kyberassist-landing",
      "name": "kyberguard-landing"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-04-18T00:00:00.000Z",
  "versionId": "v1-landing-kyberassist-2026-04-18"
}
